<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="none" >

    <!--<test name="IETestCases">

        <parameter name="browser" value="ie"/>

        <classes>

            <class name ="LoopMainTests"/>

        </classes>

    </test>

    <test name="FirefoxTestCases">

        <parameter name="browser" value="firefox"/>

        <classes>

            <class name ="LoopMainTests"/>
        </classes>

    </test>-->

    <test name="GiftsTests">

            <parameter name="browser" value="chrome"/>
        
        <groups>
            <run>
                <exclude name="ie"  />
                <include name="admin" />
                <include name="user"  />
            </run>
        </groups>
        <classes>
            <class name ="GiftsTests">
            <methods>
                <include name=".*HowWeWork.*"/>
                <include name=".*Women.*"/>
                <exclude name=".*Search.*"/>
            </methods>
        </class>
        </classes>
    </test>

</suite>