<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite" parallel="none">    <!--"tests" thread-count="3"-->

    <test name="Chrome Tests Cases">

        <parameter name="browser" value="chrome"/>

        <groups>
            <!--<run>
                <exclude name="ie"  />
                <include name="admin" />
                <include name="user"  />
            </run>-->
        </groups>
        <classes>
            <class name ="com.romanceabroad.ui.GiftsTests">
                <!--<methods>
                    <include name=".*HowWeWork.*"/>
                    <include name=".*Women.*"/>
                    <exclude name=".*Search.*"/>
                </methods>-->
            </class>
        </classes>
    </test>

   <!-- <test name="IE Test Cases">

        <parameter name="browser" value="ie"/>

        <classes>

            <class name ="com.romanceabroad.ui.GiftsTests"/>

        </classes>

    </test>

    <test name="Firefox Test Cases">

        <parameter name="browser" value="firefox"/>

        <classes>

            <class name ="com.romanceabroad.ui.GiftsTests"/>
        </classes>

    </test>
-->
</suite>